- [Dataset](https://www.kaggle.com/c/titanic)

- Please include documentation at [Overleaf](https://www.overleaf.com/project/5ffbf8c398e5780f308630ef) as you make progress

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer # used for handling missing data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # used for encoding categorical data
from sklearn.model_selection import train_test_split # used for splitting training and testing data
from sklearn.preprocessing import StandardScaler # used for feature scaling

## Part 1 - Data Preprocessing

### Importing the dataset

In [2]:
df = pd.read_csv('train.csv')
#output = dataset.iloc[:, 1].values
#features1 = dataset.iloc[:, 2].values
#features2 = dataset.iloc[:,4:-1].values

test = pd.read_csv('test.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
import pandas as pd
import math
#!pip install datawig
import datawig

data = pd.read_csv("train.csv")

to_exclude = [i+1 for i in range(len(data['Age'])) if math.isnan(data['Age'][i])]
to_keep = [i+1 for i in range(len(data['Age'])) if not math.isnan(data['Age'][i])]

df_train = pd.read_csv("train.csv", skiprows = to_exclude)
df_test = pd.read_csv("train.csv", skiprows = to_keep)


#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['Pclass','SibSp','Parch'], # column(s) containing information about the column we want to impute
    output_column= 'Age', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
    )

#Fit an imputer model on the train data
imputer.fit(train_df=df_train, num_epochs=50)

#Impute missing values and return original dataframe with predictions
imputed = imputer.predict(df_test)

2021-02-12 21:59:18,879 [INFO]
========== start: fit model
2021-02-12 21:59:18,880 [WARNING]  Already bound, ignoring bind()
2021-02-12 21:59:18,916 [INFO]  Epoch[0] Batch [0-21]	Speed: 13290.64 samples/sec	cross-entropy=16.065413	Age-accuracy=0.000000
2021-02-12 21:59:18,946 [INFO]  Epoch[0] Train-cross-entropy=14.116191
2021-02-12 21:59:18,947 [INFO]  Epoch[0] Train-Age-accuracy=0.000000
2021-02-12 21:59:18,948 [INFO]  Epoch[0] Time cost=0.066
2021-02-12 21:59:18,954 [INFO]  Saved checkpoint to "imputer_model/model-0000.params"
2021-02-12 21:59:18,958 [INFO]  Epoch[0] Validation-cross-entropy=15.324096
2021-02-12 21:59:18,959 [INFO]  Epoch[0] Validation-Age-accuracy=0.000000
2021-02-12 21:59:18,988 [INFO]  Epoch[1] Batch [0-21]	Speed: 13546.79 samples/sec	cross-entropy=13.641666	Age-accuracy=0.000000
2021-02-12 21:59:19,016 [INFO]  Epoch[1] Train-cross-entropy=12.505892
2021-02-12 21:59:19,016 [INFO]  Epoch[1] Train-Age-accuracy=0.000000
2021-02-12 21:59:19,017 [INFO]  Epoch[1] Time cost=0.057
2021-02-12 21:59:19,022 [INFO]  Saved checkpoint to "imputer_model/model-0001.params"
2021-02-12 21:59:19,027 [INFO]  Epoch[1] Validation-cross-entropy=15.878531
2021-02-12 21:59:19,028 [INFO]  Epoch[1] Validation-Age-accuracy=0.000000
2021-02-12 21:59:19,061 [INFO]  Epoch[2] Batch [0-21]	Speed: 11524.60 samples/sec	cross-entropy=13.239680	Age-accuracy=0.000000
2021-02-12 21:59:19,087 [INFO]  Epoch[2] Train-cross-entropy=12.213769
2021-02-12 21:59:19,088 [INFO]  Epoch[2] Train-Age-accuracy=0.000000
2021-02-12 21:59:19,089 [INFO]  Epoch[2] Time cost=0.060
2021-02-12 21:59:19,096 [INFO]  Saved checkpoint to "imputer_model/model-0002.params"
2021-02-12 21:59:19,100 [INFO]  Epoch[2] Validation-cross-entropy=15.881980
2021-02-12 21:59:19,101 [INFO]  Epoch[2] Validation-Age-accuracy=0.000000
2021-02-12 21:59:19,129 [INFO]  Epoch[3] Batch [0-21]	Speed: 13919.98 samples/sec	cross-entropy=13.001678	Age-accuracy=0.000000
2021-02-12 21:59:19,154 [INFO]  Epoch[3] Train-cross-entropy=12.041022
2021-02-12 21:59:19,155 [INFO]  Epoch[3] Train-Age-accuracy=0.000000
2021-02-12 21:59:19,156 [INFO]  Epoch[3] Time cost=0.054
2021-02-12 21:59:19,163 [INFO]  Saved checkpoint to "imputer_model/model-0003.params"
2021-02-12 21:59:19,168 [INFO]  Epoch[3] Validation-cross-entropy=15.796783
2021-02-12 21:59:19,170 [INFO]  Epoch[3] Validation-Age-accuracy=0.000000
2021-02-12 21:59:19,200 [INFO]  Epoch[4] Batch [0-21]	Speed: 12546.06 samples/sec	cross-entropy=12.809892	Age-accuracy=0.000000
2021-02-12 21:59:19,226 [INFO]  Epoch[4] Train-cross-entropy=11.909992
2021-02-12 21:59:19,227 [INFO]  Epoch[4] Train-Age-accuracy=0.000000
2021-02-12 21:59:19,228 [INFO]  Epoch[4] Time cost=0.058
2021-02-12 21:59:19,233 [INFO]  Saved checkpoint to "imputer_model/model-0004.params"
2021-02-12 21:59:19,237 [INFO]  Epoch[4] Validation-cross-entropy=15.738213
2021-02-12 21:59:19,238 [INFO]  Epoch[4] Validation-Age-accuracy=0.000000
2021-02-12 21:59:19,267 [INFO]  Epoch[5] Batch [0-21]	Speed: 13896.23 samples/sec	cross-entropy=12.657944	Age-accuracy=0.000000
2021-02-12 21:59:19,287 [INFO]  Epoch[5] Train-cross-entropy=11.810536
2021-02-12 21:59:19,288 [INFO]  Epoch[5] Train-Age-accuracy=0.000000
2021-02-12 21:59:19,289 [INFO]  Epoch[5] Time cost=0.050
2021-02-12 21:59:19,296 [INFO]  Saved checkpoint to "imputer_model/model-0005.params"
2021-02-12 21:59:19,301 [INFO]  No improvement detected for 5 epochs compared to 15.324096488952637 last error obtained: 15.680647087097167, stopping here
2021-02-12 21:59:19,302 [INFO]
========== done (0.4239680767059326 s) fit model

In [6]:
imputed.isnull().sum()
#imputed.head()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          158
Embarked         0
Age_imputed      0
dtype: int64

In [7]:
cnt=0
for i in range(len(df['Age'])):
    
    if math.isnan(df['Age'][i]):
        df['Age'][i] = imputed['Age_imputed'][cnt]
        cnt+=1

/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
len(df["Ticket"].unique())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [10]:
df.drop(columns = ['Name'])

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,female,26.043645,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.000000,0,0,370376,7.7500,NaN,Q

In [11]:
df['Sex'],unique= pd.factorize(df.Sex)

In [12]:
df['Embarked'],uniqueembark = pd.factorize(df.Embarked)

In [13]:
uniqueembark

Index(['S', 'C', 'Q'], dtype='object')

In [14]:
to_exclude1 = [i+1 for i in range(len(data['Cabin'])) if not isinstance(data['Cabin'][i],str)]
to_keep1 = [i+1 for i in range(len(data['Cabin'])) if isinstance(data['Cabin'][i],str)]

df_train1 = pd.read_csv("train.csv", skiprows = to_exclude1)
df_test1 = pd.read_csv("train.csv", skiprows = to_keep1)

#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['Pclass','Fare','Embarked'], # column(s) containing information about the column we want to impute
    output_column= 'Cabin', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
    )

#Fit an imputer model on the train data
imputer.fit(train_df=df_train1, num_epochs=50)

#Impute missing values and return original dataframe with predictions
imputed = imputer.predict(df_test1)

/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

In [15]:
cnt=0
for i in range(len(df['Cabin'])):
    
    if not isinstance(data['Cabin'][i],str):
        df['Cabin'][i] = imputed['Cabin_imputed'][cnt]
        cnt+=1

/Users/xiaoyangpan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
df['Cabin'],uniquecabin = pd.factorize(df.Cabin)

In [17]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,1,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,2,0
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,7,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,145,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,26.043645,1,2,W./C. 6607,23.4500,0,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,146,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,3,2

In [27]:
len(df['Ticket'].unique())

681

In [28]:
df.to_csv("revised_data.csv")