In [23]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [6]:
df = pd.read_csv('revised_data.csv')
tr_features = df[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]

### Features for Training

In [7]:
tr_features.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    0  22.0      1      0   7.2500      0         0
1       1    1  38.0      1      0  71.2833      1         1
2       3    1  26.0      0      0   7.9250      0         0
3       1    1  35.0      1      0  53.1000      2         0
4       3    0  35.0      0      0   8.0500      0         0

In [8]:
tr_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Cabin     891 non-null    int64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

### Output

In [11]:
tr_output = df[["Survived"]]

In [12]:
tr_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [26]:
tr_features = preprocessing.normalize(tr_features)
type(tr_features)

numpy.ndarray

In [29]:
tr_output = tr_output.to_numpy()

## SVM Train

In [2]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd

In [14]:
tr_features = pd.read_csv('revised_data.csv',
                 usecols=[3,5,6,7,8,10,11,12],
                 encoding='latin')
tr_output = pd.read_csv('revised_data.csv',
                 usecols=[2],
                 encoding='latin')

In [30]:
linear_svc = LinearSVC()

scores = cross_val_score(linear_svc, tr_features, tr_output.ravel(), cv=30, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())

svm_score = scores.mean()

Scores: [0.63333333 0.76666667 0.73333333 0.56666667 0.6        0.76666667
 0.66666667 0.8        0.73333333 0.7        0.83333333 0.7
 0.66666667 0.8        0.63333333 0.76666667 0.76666667 0.7
 0.83333333 0.73333333 0.83333333 0.82758621 0.75862069 0.72413793
 0.75862069 0.79310345 0.68965517 0.89655172 0.89655172 0.89655172]
Mean: 0.7491570881226054

In [21]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(tr_features.to_numpy(), tr_output.to_numpy().ravel())

SVC(kernel='linear')

In [32]:
X_test = pd.read_csv('revised_test.csv',
                 usecols=[2,4,5,6,7,9,10,11],
                 encoding='latin')
X_test

     Pclass  Sex        Age  SibSp  Parch      Fare  Cabin  Embarked
0         3    0  34.500000      0      0    7.8292      0         0
1         3    1  47.000000      1      0    7.0000      0         1
2         2    0  62.000000      0      0    9.6875      0         0
3         3    0  27.000000      0      0    8.6625      0         1
4         3    1  22.000000      1      1   12.2875      0         1
..      ...  ...        ...    ...    ...       ...    ...       ...
413       3    0  25.263261      0      0    8.0500      0         1
414       1    1  39.000000      0      0  108.9000     76         2
415       3    0  38.500000      0      0    7.2500      0         1
416       3    0  25.263261      0      0    8.0500      0         1
417       3    0  11.635659      1      1   22.3583      0         2

[418 rows x 8 columns]

In [46]:
X_test.loc[152]
#index = X_test['Fare'].index[X_test['Fare'].apply(np.isnan)]

Pclass       3.0000
Sex          1.0000
Age         36.0000
SibSp        0.0000
Parch        2.0000
Fare        12.1833
Cabin        0.0000
Embarked     1.0000
Name: 153, dtype: float64

In [48]:
X_test = X_test.dropna()

In [49]:
y_pred = svclassifier.predict(X_test)

In [52]:
y_test = pd.read_csv('gender_submission.csv',
                 usecols=[1],
                 encoding='latin')
y_test = y_test.drop(152)

In [53]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[265   0]
 [  0 152]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       265
           1       1.00      1.00      1.00       152

    accuracy                           1.00       417
   macro avg       1.00      1.00      1.00       417
weighted avg       1.00      1.00      1.00       417